@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.cdnfonts.com/css/abeezee");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-base: "ABeeZee", sans-serif;
$primary: #ff9643;
$text-primary: #0d095c;
$enable-cssgrid: true;
$page-background-color: #0a192f;
$dark-grey: #c1cae9;
$lime-green: #64ffda;

:root {
	--navbar-bg-color: $page-background-color;
	--navbar-text-color: whitesmoke;
	--navbar-text-color-focus: #22879D;
	--navbar-link-text-color-focus: #0a192f;
	// --navbar-bg-contrast: hsl(0, 0%, 25%);
	--navbar-bg-contrast:  #26F994;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-style: normal;
	color: whitesmoke;
	height: 100vh;
	line-height: 1.6;
	background: $page-background-color;
}

a, .icon-bar {
	text-decoration: none;
	-moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

.icon-bar {
	transition: transform .2s ease-in;
}

p {
	padding: 0em 0em;
}

.container {
	max-width: 1000px;
	padding: 0 1.4rem;
	margin: 0 auto;
}


// navbar
#navbar {
	--navbar-height: 148px;
	position: sticky;
	height: var(--navbar-height);
	background-color: var(--navbar-bg-color);
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25);
}

a.navbar-link {
  color: $dark-grey;
  font-family: $font-family-base;
}

.navbar-container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar-item {
	margin: 0.4em;
	width: 100%;
}
  
.navbar-home, .navbar-link {
	color: var(--navbar-text-color);
	display: flex;
	font-weight: 400;
	align-items: center;
}

.navbar-home:is(:focus, :hover) {
	color: var(--navbar-text-color-focus);
}

.navbar-link {
	justify-content: center;
	width: 100%;
	padding: 0.4em 0.8em;
	border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
	color: var(--navbar-link-text-color-focus);
	background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
	background-color: var(--navbar-text-color-focus);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-inline-start: 0.5em;
}

#navbar-toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#navbar-menu {
	position: fixed;
	top: var(--navbar-height);
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
}

.icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 2px;
	background-color: var(--navbar-text-color);
}
  
#navbar-toggle:is(:focus, :hover) .icon-bar {
	background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
	position: absolute;
	margin: 0;
	width: 30px;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
	transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
	opacity: 0;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
	transform: rotate(-45deg);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
	// background-color: rgba(0, 0, 0, 0.4);
	// opacity: 1;
	visibility: visible;
}

.navbar-links {
	list-style: none;
	position: absolute;
	background-color: var(--navbar-bg-color);
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.4rem;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
	padding: 1em;
}

@media screen and (min-width: 700px) {
	#navbar-toggle,
	#navbar-toggle[aria-expanded='true'] {
	  	display: none;
	}
  
	#navbar-menu,
	#navbar-toggle[aria-expanded='true'] + #navbar-menu {
		visibility: visible;
		opacity: 1;
		position: static;
		display: block;
		height: 100%;
	}
  
	.navbar-links,
	#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
		margin: 0;
		padding: 0;
		box-shadow: none;
		position: static;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}
}

// footer
#contact {
	display: block;
	text-align: center;
	align-items: center;
	text-justify: inter-word;
	margin: 0 20%;
}

@media screen and (max-width: 600px) {
#contact { 
	margin: 0 10%;
}}

.btn-gradient {
	--b:5px;  /* border width*/
	color: whitesmoke;
	padding: calc(var(--b) + 5px) calc(var(--b) + 15px);
	display: inline-block;
	margin: 2vh 0;
	background-size: 0 0;
	position: relative;
	z-index: 0;
}

.btn-gradient:hover {
	color: #26F994;
}
  
.btn-gradient::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: var(--b);
	border-radius: var(--r);
	background-image: var(--c,radial-gradient(#26F994, #22879D));
	background-size: auto;
	--mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" ><rect x="5" y="5" width="100%" height="100%" style="height:calc(100% - 10px);width:calc(100% - 10px)" rx="10" ry="10" stroke-width="3" fill="transparent" stroke="white"/></svg>');
	-webkit-mask: var(--mask);
	mask: var(--mask);
}