@import "~bootstrap/scss/bootstrap";
@import "var.scss";
@import url("https://fonts.cdnfonts.com/css/abeezee");
@import url("https://fonts.cdnfonts.com/css/abeezee");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-style: normal;
	color: whitesmoke;
	line-height: 1.6;
	background: $page-background-color;
}

main {
	padding: 10% 15%;
}

p {
	white-space: pre-wrap;
}

a, .icon-bar, .navbar-item, .btn-gradient{
	text-decoration: none;
	-moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

.icon-bar {
	transition: transform .2s ease-in;
}

p {
	padding: 0em 0em;
}

.container {
	max-width: 2000px;
	padding: 0 1.4rem;
	margin: 0 auto;
}

// navbar
#navbar {
	--navbar-height: 100px;
	position: sticky;
	height: var(--navbar-height);
	background-color: var(--navbar-bg-color);
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	transition: top 0.4s;
	// box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25);
}

a.navbar-link {
  color: $dark-grey;
  font-family: $font-family-base;
}

.navbar-container {
	// position: sticky;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar-item {
	margin: 0.4em;
	width: 100%;
}
  
.navbar-home, .navbar-link {
	color: var(--navbar-text-color);
	display: flex;
	align-items: center;
}

.navbar-home:is(:focus, :hover) {
	color: var(--navbar-text-color-focus);
}

.navbar-link {
	justify-content: center;
	width: 100%;
	padding: 0.4em 0.8em;
	border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
	color: var(--navbar-link-text-color-focus);
	background-color: var(--navbar-bg-contrast);
}

#navbar-toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#navbar-menu {
	position: fixed;
	top: var(--navbar-height);
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
}

.icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 2px;
	background-color: var(--navbar-text-color);
}
  
#navbar-toggle:is(:focus, :hover) .icon-bar {
	background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
	position: absolute;
	margin: 0;
	width: 30px;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
	transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
	opacity: 0;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
	transform: rotate(-45deg);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
	visibility: visible;
}

.navbar-links {
	list-style: none;
	position: absolute;
	left: 0;
	right: 0;
	// background-color: var(--navbar-bg-color);
	background-color: $page-background-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	font-size: var(--navbar-links-font-size);
	overflow: hidden;
	white-space: nowrap;
	margin: 1.4rem;
	border-radius: 5px;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
	padding: 1em;
}

@media screen and (min-width: 800px) {
	
	#navbar-toggle,
	#navbar-toggle[aria-expanded='true'] {
	  	display: none;
	}
  
	#navbar-menu,
	#navbar-toggle[aria-expanded='true'] + #navbar-menu {
		visibility: visible;
		opacity: 1;
		position: static;
		display: block;
		height: 100%;
	}
  
	.navbar-links,
	#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
		margin: 0;
		padding: 0;
		box-shadow: none;
		position: static;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}

	
}

@media screen and (max-width: 800px) {

	.navbar-links {
		--navbar-links-font-size: 1.5rem;
	}

	.sidebar {
		visibility: hidden;
	}
}

// main

.content-container {
	margin: 5em 0;
}

#intro h1 {
	font-size: 4em;
	font-weight: 800;
	color: var(--heading-color);
}

#intro h2 {
	font-size: 2em;
	font-weight: 500;
	color: var(--highlight-color);
}

#intro h3 {
	font-size: 1.5em;
}

.container-2 {
	widht: 100%;
	display: flex;
}

.profpic{
	width: 100%;
	height: 100%;
}

.sidebar-container-left {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
}

.sidebar-container-right {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: auto;
	right: 40px;
	z-index: 10;
}

.sidebar {
	flex-direction: column;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}

.sidebar-container-right a{
	writing-mode: vertical-rl;
	padding: 10px;
	margin: 20px auto;
	font-size: var(--font-size-sidebar);
	color: var(--sidebar-text-color);
	line-height: var(--font-line-height);
	letter-spacing: 0.1em;
}

.sidebar-container-left li, .sidebar-container-right a{
	transition: 0.2s ease-out;
}


.sidebar-container-left li:hover, .sidebar-container-right a:hover {
	transform: translateY(-10px);
}

.sidebar::after {
	content: "";
	display: block;
	width: 1px;
	height: 100px;
	margin: 0 auto;
	background-color: var(--line-color);
}

.sidebar-container-left li {
	padding: 10px;
}

.sidebar li:last-of-type {
	margin-bottom: 20px;
}

footer {
	display: block;
	text-align: center;
	align-items: center;
	padding: 2em 15%;
}

@media screen and (max-width: 1100px) {

	.navbar-links {
		--navbar-links-font-size: 1rem;
	}
}

.btn-gradient {
	--b:5px;  /* border width*/
	color: whitesmoke;
	padding: calc(var(--b) + 5px) calc(var(--b) + 15px);
	display: inline-block;
	margin: 2vh 0;
	font-size: 1.5rem;
	background-size: 0 0;
	position: relative;
	z-index: 0;
}

.btn-gradient:hover {
	color: var(--line-color);
}
  
.btn-gradient::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: var(--b);
	border-radius: var(--r);
	background-image: var(--c,radial-gradient(#26F994, #22879D));
	background-size: auto;
	--mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" ><rect x="5" y="5" width="100%" height="100%" style="height:calc(100% - 10px);width:calc(100% - 10px)" rx="10" ry="10" stroke-width="3" fill="transparent" stroke="white"/></svg>');
	-webkit-mask: var(--mask);
	mask: var(--mask);
}