$font-family-base: "ABeeZee", sans-serif;
$enable-cssgrid: true;
$primary: #ff9643;
$page-background-color: #0a192f;
$text-primary: #0d095c;
$dark-grey: #c1cae9;
$lime-green: #64ffda;
$highlight-color: #22879D;

:root {
	--navbar-bg-color: #0a192f;
	--navbar-text-color: whitesmoke;
	--content-text-color: whitesmoke;
	--sidebar-text-color: whitesmoke;
	--navbar-text-color-focus: #22879D;
	--navbar-link-text-color-focus: #102b55;
	// --navbar-bg-contrast: hsl(0, 0%, 25%);
	--navbar-bg-contrast:  #26F994;
	--navbar-logo-font-size: 5rem;
	--navbar-links-font-size: 1.5rem;
	--line-color: #26F994;
	--font-size-sidebar: 15px;
	--font-line-height: 18px;
	--highlight-color: #4ecae9;
	--heading-color:  #26F994;
}