$font-family-base: "ABeeZee", sans-serif;
$primary: #ff9643;
$text-primary: #0d095c;
$enable-cssgrid: true;
$page-background-color: #0a192f;
$dark-grey: #c1cae9;
$lime-green: #64ffda;

:root {
	--navbar-bg-color: $page-background-color;
	--navbar-text-color: whitesmoke;
	--navbar-text-color-focus: #22879D;
	--navbar-link-text-color-focus: #0a192f;
	// --navbar-bg-contrast: hsl(0, 0%, 25%);
	--navbar-bg-contrast:  #26F994;
	--navbar-logo-font-size: 5rem;
	--navbar-links-font-size: 1.5rem;
}